:root {
    --theme-color: #593196;
    --theme-color-lighter: #A991D4;

    --background: #1F1F1F;
    --little-darker-background: #1A1A1A;
    --text-color: white;
}

body {
    margin: 0;
    font-family: Segoe UI, sans-serif;
    background-color: var(--background);
    color: var(--text-color);
}
#topbar {
    background-color: var(--theme-color);
    height: 100px;
    user-select: none;
}
#topbar img {
    height: 80px;
    margin: 10px;
}
#topbar b {
    position: relative;
    bottom: 43px;
    left: 20px;
    font-size: 20px;
}
#topbar a {
    float: right;
    margin: 37px;
    font-size: 19px;
    text-decoration: none;
}
#mainhead, footer {
    background-color: var(--little-darker-background);
    padding: 30px;
}
#mainhead h1, #mainhead h2, #dictee h1 {
    font-weight: normal;
    text-align: center;
}
#mainhead h1, #dictee h1 {
    font-size: 3em;
}
#mainhead h2 {
    font-size: 1.5em;
}
a, a:visited {
    color: var(--theme-color-lighter);
    transition: .25s ease;
}
table {
    margin: 2% auto;
}
.spacing {
    width: 2%;
}
.maincard {
    text-align: center;
    border: 1px solid var(--theme-color);
    width: 40%;
    margin: 0 12px;
    padding: 4px;
    border-radius: 12px;
}
.maincard a {
    display: block;
    background-color: var(--theme-color);
    text-decoration: none;
    color: var(--text-color);
    margin-top: 50px;
    font-size: 18px;
    padding: 6px;
    border-radius: 4px 4px 10px 10px;
}
.maincard a:focus {
    box-shadow: 0 0 8px var(--theme-color);
}
.maincard a.disabled {
    background-color: #aaa;
}
#oei {
    background-color: darkred;
    text-align: center;
    padding: 12px 0;
    border-radius: 12px;
    font-size: 20px;
}

#dictee {
    width: 50%;
    margin: auto;
}
#dictee p {
    margin-left: 20px;
}
#dictee h4 {
    font-weight: normal;
    margin: -4px 0 8px 0;
}
#dictee img {
    margin: 7.5% auto;
    display: block;
    user-select: none;
    pointer-events: none;
}
#dictee li a, #dictee h3 a {
    margin-left: 20px;
    padding: 0 8px;
}
#dictee input, #dictee textarea {
    width: 125px;
    background-color: transparent;
    font-family: Segoe UI, sans-serif;
    border: 1px solid var(--text-color);
    outline: none;
    color: inherit;
    font-size: 17px;
    margin-bottom: 4px;
    border-radius: 4px;
}
#dictee input.full-width {
    width: 100%;
    font-size: 18px;
    padding: 6px;
}
#dictee input.with-button {
    width: calc(100% - 50px);
}
#dictee textarea {
    resize: none;
    height: 230px;
}
#dictee button {
    width: 102%;
    margin: 40px 0;
    padding: 8px;
    background-color: var(--theme-color);
    color: var(--text-color);
    font-size: 2em;
    outline: none;
    border: none;
    border-radius: 8px;
    transition: .25s ease;
}
#dictee button:not(:disabled):hover, #overlay #window button:hover, a:not(.disabled):hover {
    filter: brightness(1.2);
    cursor: pointer;
}
#dictee button:disabled {
    background-color: #aaa;
}
footer span {
    display: block;
    margin: auto;
    width: calc(50% + 30px);
}
#overlay {
    display: none;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
}
#overlay #window {
    width: 400px;
    height: 240px;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 120px);
    background-color: var(--little-darker-background);
    border-radius: 12px;
}
#overlay #window h2, #overlay #window span {
    width: fit-content;
    display: block;
    margin: 22px auto;
}
#overlay #window button {
    font-size: 20px;
    margin-left: 44px;
    padding: 8px 30px;
    border: none;
    background-color: var(--theme-color);
    color: inherit;
    border-radius: 4px;
    transition: .25s ease;
}
#overlay #window button[disabled] {
    background-color: #aaa;
}
#overlay #window input {
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    outline: none;
    font-size: 20px;
    padding: 4px;
    color: inherit;
    font-family: inherit;
    width: calc(100% - 100px);
    position: relative;
    left: 44px;
    bottom: 23px;
}
pre {
    background-color: var(--little-darker-background);
    border: 1px solid black;
    border-radius: 8px;
    padding-bottom: 1.25em;
}
code {
    position: relative;
    left: 1.25em;
}