:root {
    --main-gradient-fg:
        radial-gradient(at 47% -56%, rgb(30, 230, 130), rgba(30, 230, 130, 0)),
        linear-gradient(135deg, rgb(0, 130, 230), rgb(0, 160, 190));
    --main-gradient-bg:
        linear-gradient(1deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        radial-gradient(at 44vw 200vh, rgb(30, 230, 130), rgba(30, 230, 130, 0)),
        linear-gradient(135deg, rgb(0, 130, 230), rgb(0, 160, 190));

    --red-gradient:
        radial-gradient(at 45% 80%, rgb(230, 30, 30), rgba(30, 0, 0, 0)),
        linear-gradient(135deg, rgb(190, 0, 30), rgb(130, 0, 0));
    --green-gradient:
        radial-gradient(at 75% 40%, rgb(30, 230, 30), rgba(0, 30, 0, 0)),
        linear-gradient(135deg, rgb(0, 190, 30), rgb(0, 130, 0));

    --spacing: 1rem;
    --dialog-spacing: 3rem;
}

@keyframes introduction {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes confirm-warning {
    0%, 100% {
        background-blend-mode: lighten;
    }
    50% {
        background-blend-mode: unset;
    }
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: var(--main-gradient-bg);
    font-family: Montserrat, sans-serif;
    line-height: 1.25;
    color: #fff;

    --dialog-transition-time: 0.75s; /* changed by JS */
}
body::backdrop {
    background: var(--main-gradient-bg); /* work in fullscreen mode too */
}

.container {
    display: grid;
    gap: var(--spacing);
    width: calc(100% - var(--spacing) * 2);
    height: calc(100% - var(--spacing) * 2);
    margin: var(--spacing);

    & > div {
        animation-name: introduction;
        animation-duration: 2s;
        animation-fill-mode: backwards;
    }
    &.Home {
        grid-template-areas:
        "Heading Heading Heading"
        "Participate Participate How"
        "Why Experiences Experiences"
        "Footer Footer Footer";
        grid-template-rows: 0fr 2fr 2fr 0fr;
        grid-template-columns: 1fr 0.5fr 1fr;
    }
    &.Dictee {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .DicteeForm, .DicteeSubmit {
            width: 50%;
            min-width: 1000px;
        }
        .DicteeForm {
            flex: auto;

            input {
                width: 150px;
                margin: 1px;
                padding: 2px 4px;
                border-radius: 6px;
            }
        }
        .DicteeSubmit {
            display: flex;
            flex-direction: column;

            button {
                width: unset;
            }
            p {
                margin: 0.5em var(--spacing);
            }
        }
    }
    &.Examiner {
        grid-template-areas:
        "Heading Heading"
        "Contents Participants"
        "Contents Status"
        "Footer Footer";
        grid-template-rows: 0fr 2fr 1fr 0fr;
        grid-template-columns: 2fr 1fr;
    }
}

.heading {
    grid-area: Heading;
    display: flex;
    justify-content: space-between;
    height: 100px;

    .logo {
        display: flex;
        align-items: center;
        gap: var(--spacing);
        img {
            height: 5em;
        }
        h1 {
            margin: 0;
            color: #fff;
            font-size: 5em;
        }
    }
}
.footer {
    grid-area: Footer;
    text-align: center;
    animation-delay: 1s;

    p {
        margin: 0.5em;
    }
}
.heading a, .footer a {
    color: inherit;
    height: fit-content;

    &:hover {
        text-decoration: none;
    }
}

.card {
    background-color: #fff2;
    border-radius: var(--spacing);
    &.Participate {
        grid-area: Participate;
        animation-delay: 0.2s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
            flex-basis: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;

            h2 span.red {
                color: salmon;
            }
            h2 span.green {
                color: lightgreen;
            }
        }
    }
    &.How {
        grid-area: How;
        animation-delay: 0.4s;
    }
    &.Why {
        grid-area: Why;
        animation-delay: 0.6s;
    }
    &.Experiences {
        grid-area: Experiences;
        animation-delay: 0.8s;
        display: flex;
        flex-direction: column;
    }

    &.Contents {
        grid-area: Contents;
        animation-delay: 0.3s;
        display: flex;
        flex-direction: column;

        & > div {
            display: flex;
            flex-direction: column;
            flex-basis: 90%;
            gap: var(--spacing);

            p {
                margin: 0;
                display: flex;
                justify-content: space-between;
            }
            & > div {
                display: flex;
                flex-direction: column;
                gap: 4px;


                &#dictee-contents-wrapper {
                    flex-basis: 80%;
                }
                textarea {
                    flex-basis: 90%;
                }
            }
        }
    }
    &.Participants {
        grid-area: Participants;
        animation-delay: 0.5s;

        div {
            display: flex;
            flex-direction: column;
            background-color: #fff2;
            border-radius: var(--spacing);

            p {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                padding: 8px;

                b {
                    margin-left: calc(var(--spacing) - 8px);
                }
                button {
                    width: 40px;
                    height: 40px;

                    img {
                        height: 24px;
                    }
                }
            }
        }
    }
    &.Status {
        grid-area: Status;
        animation-delay: 0.7s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #dictee-state {
            margin: 1em;
        }
        #state-buttons {
            display: flex;
            flex-direction: row;
            gap: var(--spacing);

            button {
                display: none;
            }
        }
    }

    .subcards-grid {
        flex-basis: 80%;
        display: grid;
        height: -webkit-fill-available;
        grid-template-columns: auto auto;
        gap: var(--spacing);

        & > div {
            background-color: #fff2;
            border-radius: var(--spacing);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > * {
                margin: var(--spacing);
            }
        }
    }
    .rating {
        display: flex;
    }
    & > * {
        margin: var(--spacing);
    }
}

h1, h3 {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 800;
    overflow: hidden;
    line-height: 1;
    padding: 0 4px; /* prevent cutoffs at first/last char */
}
h3 {
    font-size: 2em;
    margin: 0.5em;
}
h4 {
    font-size: 1.2em;
    margin: 0.5em 0;
}


button {
    width: 100%;
    padding: 8px 0;
    font-family: inherit;
    font-style: italic;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    color: inherit;
    border: none;
    outline: none;
    border-radius: var(--spacing);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    cursor: pointer;
    transition: 0.5s ease;

    &:not(:disabled):hover {
        filter: brightness(1.1);

        img.img-l {
            transform: translateX(-16px);
        }
        img.img-r {
            transform: translateX(16px);
        }
    }
    &:disabled {
        filter: grayscale(1);
        cursor: unset;
    }
    img {
        height: 36px;
        transition: inherit;

        &.rot180 {
            rotate: 180deg;
        }
    }

    &.confirm-warning {
        animation-name: confirm-warning;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }
}

input, textarea {
    background: #0004;
    border: 1px solid #fff;
    border-radius: var(--spacing);
    padding: calc(var(--spacing) / 2);
    outline: none;
    color: inherit;
    font-family: inherit;
}

textarea {
    resize: none;
}

fieldset {
    background: #0004;
    border-radius: var(--spacing);

    input {
        width: 100%;
        background: none;
        border: none;
        border-top: 2px solid #fff0;
        border-bottom: 2px solid #fff0;
        border-radius: 0;
        padding: 4px 0;
        font-size: 1.2em;
        font-weight: bold;
        transition: 0.15s ease;

        &:focus {
            border-bottom: 2px solid #fff;
        }
    }
}

button.main-bg {
    background: var(--main-gradient-fg);
}
.main-fg {
    color: transparent;
    background: var(--main-gradient-fg);
    background-clip: text;
}
.red-fg {
    color: transparent;
    background: var(--red-gradient);
    background-clip: text;
}
.red-bg {
    background: linear-gradient(1deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), var(--red-gradient);
}
.green-fg {
    color: transparent;
    background: var(--green-gradient);
    background-clip: text;
}
.green-bg {
    background: linear-gradient(1deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), var(--green-gradient);
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 110vw;
    height: 110vh;
    z-index: 2;
    pointer-events: none;
    background-color: #000c;
    backdrop-filter: blur(6px);
    opacity: 0;
    transition: var(--dialog-transition-time) ease;
}

.dialog {
    position: absolute;
    opacity: 0;
    background-color: #fff2;
    border-radius: var(--dialog-spacing);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > * {
        display: none;
        opacity: 0;
        transition: var(--dialog-transition-time) ease;
    }
    h1 {
        text-align: center;
        font-size: 4em;
        margin: 0.5em 0;
    }
    h3 {
        text-align: center;
        margin-bottom: 1.2em;
    }
    img[src*="tenor"] {
        display: block;
        margin: calc(var(--spacing) * 3) auto;
        width: 50%;
        border-radius: var(--spacing);
    }

    .dialog-text {
        width: 60%;
        margin: auto;

        ol ol {
            list-style: lower-latin;
        }
    }
    .dialog-inputs {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: var(--spacing);

        #name-error {
            text-align: center;
            user-select: none;
        }
        p + fieldset {
            margin-top: -1em;
        }
    }
    .dialog-buttons {
        display: flex;
        gap: var(--spacing);
        margin: var(--dialog-spacing) 0;

        button {
            font-size: 1.2em;
            font-weight: bold;

            img {
                height: 24px;
            }
        }
    }

    #result {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);

        h1 {
            font-size: 8em;
            margin: 0;
        }
        h4, h5 {
            text-align: center;
        }
        h4 {
            font-size: 1.5em;
            margin: 0.3em 0;
        }
        h5 {
            color: #999;
            font-size: 1.1em;
            margin: 2em 0;
            span {
                color: #fff;
            }
        }
        button {
            margin-top: 2em;
        }
    }
}
noscript .dialog {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #000c;
    border-radius: 0;
    backdrop-filter: grayscale(1) blur(8px);
    justify-content: center;

    * {
        display: block;
        opacity: inherit;
    }
}

.sonner {
    position: absolute;
    left: calc(50vw);
    top: -100px;

    padding: var(--spacing);
    border-radius: var(--spacing);
    transition: top 0.5s ease;
    pointer-events: none;
    z-index: 5;

    display: flex;
    align-items: center;
    gap: var(--spacing);

    --expire-bar-height: 3px;
    --expire-transition: none;
    --expire-clip-path: inset(calc(100% - var(--expire-bar-height)) 100% 0 0);

    #sonner-text {
        font-size: 1.2em;
        font-weight: bold;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;

        transition: var(--expire-transition);
        clip-path: var(--expire-clip-path);
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: inherit;
    }
}
