:root {
    --epic-gradient-fg: radial-gradient(at 47% -56%, rgb(30, 230, 130), rgba(30, 230, 130, 0)),
        linear-gradient(135deg, rgb(0, 130, 230), rgb(0, 160, 190));
    --epic-gradient-bg: linear-gradient(1deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        radial-gradient(at 44vw 200vh, rgb(30, 230, 130), rgba(30, 230, 130, 0)),
        linear-gradient(135deg, rgb(0, 130, 230), rgb(0, 160, 190));

    --spacing: 1rem;
    --dialog-spacing: 3rem;
}

@keyframes introduction {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: var(--epic-gradient-bg);
    font-family: Montserrat, sans-serif;
    line-height: 1.25;
    color: #fff;
}

.container {
    display: grid;
    gap: var(--spacing);
    width: calc(100% - var(--spacing) * 2);
    height: calc(100% - var(--spacing) * 2);
    margin: var(--spacing);
    grid-template-areas:
      "Heading Heading Heading"
      "Participate Participate How"
      "Why Experiences Experiences"
      "Footer Footer Footer";
    grid-template-rows: 0fr 2fr 2fr 0fr;
    grid-template-columns: 1fr 0.5fr 1fr;

    & > div {
        animation-name: introduction;
        animation-duration: 2s;
        animation-fill-mode: backwards;
    }
}

.heading {
    grid-area: Heading;
    display: flex;
    justify-content: space-between;
    height: 100px;
    
    .logo {
        display: flex;
        align-items: center;
        gap: var(--spacing);
        img {
            height: 5em;
        }
        h1 {
            margin: 0;
            color: #fff;
            font-size: 5em;
        }
    }
    a {
        color: inherit;
        height: fit-content;
    }
}
.footer {
    grid-area: Footer;
    text-align: center;
    animation-delay: 1s;

    a {
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }
    p {
        margin: 0.5em;
    }
}

.card {
    background-color: #fff2;
    border-radius: var(--spacing);
    &.Participate {
        grid-area: Participate;
        animation-delay: 0.2s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
            flex-basis: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;

            h2 span.red {
                color: salmon;
            }
            h2 span.green {
                color: lightgreen;
            }
            button {
                width: 100%;
                padding: 8px 0;
                font-family: inherit;
                font-size: 2em;
                font-weight: 800;
                font-style: italic;
                text-transform: uppercase;
                color: inherit;
                background: var(--epic-gradient-fg);
                border: none;
                outline: none;
                border-radius: var(--spacing);
                transition: 0.5s ease;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--spacing);
                cursor: pointer;

                &:not(:disabled):hover {
                    filter: brightness(1.1);

                    img {
                        transform: translateX(16px);
                    }
                }
                &:disabled {
                    filter: grayscale(1);
                    cursor: unset;
                }
                img {
                    height: 36px;
                    transition: inherit;
                }
            }
        }
    }
    &.How {
        grid-area: How;
        animation-delay: 0.4s;
    }
    &.Why {
        grid-area: Why;
        animation-delay: 0.6s;
    }
    &.Experiences {
        grid-area: Experiences;
        animation-delay: 0.8s;
        display: flex;
        flex-direction: column;
    }

    .subcards-grid {
        flex-basis: 80%;
        display: grid;
        height: -webkit-fill-available;
        grid-template-columns: auto auto;
        margin: var(--spacing);
        gap: var(--spacing);

        & > div {
            background-color: #fff2;
            border-radius: var(--spacing);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > * {
                margin: var(--spacing);
            }
        }
    }
    .rating {
        display: flex;
    }
    & > * {
        margin: var(--spacing);
    }
}

h1, h3 {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 800;
    overflow: hidden;
    line-height: 1;
    padding: 0 4px; /* prevent cutoffs at first/last char */
}

h3 {
    font-size: 2em;
    margin: 0.5em;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 110vw;
    height: 110vh;
    z-index: 2;
    pointer-events: none;
    background-color: #000c;
    backdrop-filter: blur(6px);
    opacity: 0;
    transition: 0.75s ease;
}

.dialog {
    position: absolute;
    opacity: 0;
    background-color: #fff2;
    border-radius: var(--dialog-spacing);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 3;

    h1 {
        text-align: center;
        font-size: 4em;
        margin: 0.5em 0;
    }
    h3 {
        text-align: center;
        margin-bottom: 1.2em;
    }

    .rules {
        width: 60%;
        margin: auto;

        h4 {
            font-size: 1.2em;
            margin: 0.5em 0;
        }
        ol ol {
            list-style: lower-latin;
        }
    }
}
